<mat-toolbar color="primary" class="header-toolbar">
  <a [routerLink]="['/home']" class="logo-link">
    <span class="logo">MovieLens</span>
  </a>

  <span class="spacer"></span>

  <div class="nav-links" [class.mobile-hidden]="!isMenuOpen">
    <a mat-button [routerLink]="['/movies']" routerLinkActive="active-link">
      <mat-icon>movie</mat-icon> Filmes
    </a>
    <a mat-button [routerLink]="['/search']" routerLinkActive="active-link">
      <mat-icon>search</mat-icon> Buscar
    </a>

    <ng-container *ngIf="!(isLoggedIn$ | async)">
      <a mat-button [routerLink]="['/login']" routerLinkActive="active-link">
        <mat-icon>login</mat-icon> Entrar
      </a>
      <a mat-button [routerLink]="['/register']" routerLinkActive="active-link">
        <mat-icon>person_add</mat-icon> Registrar
      </a>
    </ng-container>

    <ng-container *ngIf="isLoggedIn$ | async">
      <a mat-button [routerLink]="['/dashboard']" routerLinkActive="active-link">
        <mat-icon>dashboard</mat-icon> Dashboard
      </a>
      <button mat-button (click)="logout()">
        <mat-icon>exit_to_app</mat-icon> Sair
      </button>
    </ng-container>
  </div>

  <button mat-icon-button (click)="toggleMenu()" class="menu-button">
    <mat-icon>{{ isMenuOpen ? 'close' : 'menu' }}</mat-icon>
  </button>
</mat-toolbar>
